
/* CSS FOR ALL PAGES */

body {
    margin: 0px;
    overflow: auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    font-weight: 800;   
    text-align: center;
}

p.placeholder {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
}

p.placeholder:hover {
    font-weight: 800;
}

header {
    background-color: #454545;
    overflow: hidden;
    clear: both;
    padding-left: 10%;
    padding-right: 10%;
}

header a {
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 400;
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;
}

img#navLogo {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 1.5%;
    float: left;
}

nav {
    margin-top: 35px;
    margin-right: 1.5%;
    float: right;
}

nav a {
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    font-weight: 800;
}

nav a:active {
    font-weight: 800;
}

.resumeMedium {
    width: 45%;
    height: 250px;
    background: #999999;
    float: left;
    margin-top: 15px;
    margin-right: 1%;
    margin-bottom: 15px;
    margin-left: 2.5%;
}

.portfolioMedium {
    width: 45%;
    height: 250px;
    background: #999999;
    float: left;
    margin-top: 15px;
    margin-right: 1%;
    margin-bottom: 15px;
    margin-left: 2.5%;
}

.bioMedium {
    width: 45%;
    height: 250px;
    background: #999999;
    float: left;
    margin-top: 15px;
    margin-right: 1%;
    margin-bottom: 15px;
    margin-left: 2.5%;
}

/* CSS FOR INDEX.HTML */

    /* INTRODUCTION */

        div.containerIndex0 {
            background: #ffffff;
            margin-top: 0px;
            padding-left: 10%;
            padding-right: 10%;
            clear: both;
        }

        p.introduction {
            font-family: 'Montserrat';
            color: #454545;
            font-size: 4vw;
            font-weight: 600;
            line-height: 1.5em;  
            overflow: auto;
            text-align: center;
            padding-top: 100px;
            padding-bottom: 100px;
            margin: 0px;
        }

    /* WHAT CAN KAROL DO? */

        div.containerIndex1 {
            background: #66ffbf;
            padding-top: 50px;
            padding-bottom: 75px;
            margin: 0px;
            overflow: hidden;
            clear: both;    
        }

        section.designerSmall {
            width: 30%;
            height: 250px;
            background: #999999;
            float: left;
            margin-top: 15px;
            margin-right: 1%;
            margin-bottom: 15px;
            margin-left: 2.5%;
            position: relative;
        }

        section.developerSmall {
            width: 30%;
            height: 250px;
            background: #999999;
            float: left;
            margin-top: 15px;
            margin-right: 1.5%;
            margin-bottom: 15px;
            margin-left: 1.5%;
            position: relative;
        }

        section.entrepreneurSmall {
            width: 30%;
            height: 250px;
            background: #999999;
            float: left;
            margin-top: 15px;
            margin-right: 2.5%;
            margin-bottom: 15px;
            margin-left: 1%;
            position: relative;
        }


    /* WHAT HAS KAROL DONE? */

        div.containerIndex2 {
            background: #b3ffdf;
            padding-top: 50px;
            padding-bottom: 75px;
            margin: 0px;
            overflow: hidden;
            clear: both;    
        }


    /* WHY CHOOSE KAROL? */

        div.containerIndex3 {
            background: #ffffff;
            padding-top: 50px;
            padding-bottom: 75px;
            margin: 0px;
            overflow: hidden;
            clear: both;    
        }

        section.versatileSmall {
            width: 30%;
            height: 250px;
            background: #999999;
            float: left;
            margin-top: 15px;
            margin-right: 1%;
            margin-bottom: 15px;
            margin-left: 2.5%;
        }

        section.creativeSmall {
            width: 30%;
            height: 250px;
            background: #999999;
            float: left;
            margin-top: 15px;
            margin-right: 1.5%;
            margin-bottom: 15px;
            margin-left: 1.5%;
        }

        section.uniqueSmall {
            width: 30%;
            height: 250px;
            background: #999999;
            float: left;
            margin-top: 15px;
            margin-right: 2.5%;
            margin-bottom: 15px;
            margin-left: 1%;
        }


/* CSS FOR BIO.HTML */

        img#karol {
            padding-left: 10%;
            float: left;
        }

        img#karol2 {
            padding-right: 10%;
            float: right;
        }

        p.bio {
            padding-left: 5%;
            padding-right: 10%;
            margin: 0px;
            overflow: auto;
        }
        
        p.bio2 {
            padding-left: 10%;
            padding-right: 5%;
            margin: 0px;
            text-align: right;
            overflow: auto;
        }


/* CSS FOR CONTACT.HTML */

        form {
            margin-left: 10%;
            margin-right: 10%;
            line-height: 30px;
        }

/* CSS FOR PORTFOLIO.HTML */

        div.portfolioBanner {
            background-color: #16ff9ea1;
            height: 30%;
            width: 100%;
            position: absolute;
            bottom: 20px;
            /* overflow: hidden; */
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }



/* CSS FOR ALL PAGES */

    /* FOOTER */

        footer {
            background: #454545;
            width: 100%;
            clear: both;
            overflow: hidden;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 0px;
            margin-bottom: 0px;
            position: absolute;
        }

        p.footer {
            color: #ffffff;
            font-size: 1vw;
            font-weight: 100;
            letter-spacing: .25vw;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
        }